@import "variables";
@import "vendor/codrops/normalize";
@import "vendor/codrops/demo";
@import "vendor/codrops/cs-select";
@import "vendor/codrops/cs-skin-border";
@import "vendor/font-awesome";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
}
@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rainbows
{
  0% {background-color: @rainbow-red;}
  20% {background-color: @rainbow-orange;}
  40% {background-color: @rainbow-yellow;}
  60% {background-color: @rainbow-green;}
  80% {background-color: @rainbow-cyan;}
  100% {background-color: @rainbow-red;}
}

#app {
  padding: 0;
  min-height: 600px;

  header {
    text-align: center;
  }
}

#waveform {
  background: @grid-bg;
  margin: 0 auto;
  max-width: 600px;
  max-height: 112px;
  margin-top: -68px;
  overflow-y: hidden;
}

.progress-indicator {
  position: relative;
  top: 44px;
  margin: 0 auto;
  max-width: 600px;
  z-index: 3;

  .progress-bar {
    display: block;
    border-top: 4px solid @accent;

    &.complete {
      border-top: 4px solid @accent;
    }
  }
}

.footer {
  color: @accent;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  p {
    font-size: 14px;
    a {
      color: #bfbfbf;
      font-weight: bold;
    }
  }
}



@media screen and (min-width: 720px) {
  body.modal.rainbow {
    -webkit-animation: rainbows ease 5s infinite;
  }
}
@media screen and (max-width: 720px) {
  #app header .logo {
    padding: 10px;
    max-width: 300px;
  }
}

body.modal {
  background: #2f2f2f;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  padding: 35px 10px;
  border: 0;
  font-family: 'Raleway', Arial, sans-serif;

  &::before, &::after {
    height: 0;
  }

  header {
    span {
      text-align: center;
      display: block;
      margin-top: 20px;
      font-variant: small-caps;
      font-weight: 800;
    }
    h1 {
      font-size: 4rem;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 80px;
    }
  }

  .player {
    img {
      width: 100%;
    }
    a {
      color: #fff;
      font-weight: 800;
      text-decoration: underline;
    }
  }
  #content {
    display: none;
  }
}

#logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;

  > .row {
    height: @logo-square-size;
    margin: 0;
    padding: 0;
    clear: both;

    span {
      width: @logo-square-size;
      height: @logo-square-size;
      border-bottom: @logo-square-size*0.05 solid @logo-square-shadow;
      border-right: @logo-square-size*0.05 solid @logo-square-shadow;
      display: block;
      float: left;
      margin: 0 @logo-square-size*0.1 @logo-square-size*0.1 0;
      padding: 0;
      background-color: @logo-square-bg-color;
      color: @logo-square-color;
      font-size: @logo-square-size*0.7;
      line-height: @logo-square-size;
      text-align: center;

      &.spacer {
        background-color: @logo-square-empty-bg-color;
      }
    }
  }
}

.current-track {
  position: relative;
  max-width: 600px;
  margin: 0 auto;

  &:hover > ul.controls > li {
    opacity: 1;
  }

  ul.controls {
    position: absolute;
    left: 50%;
    top: 46%;
    list-style: none;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    width: 100%;
    max-width: 400px;
    height: 60px;
    z-index: 2;

    li {
      transition: opacity 0.5s;
      position: absolute;
      opacity: 0;

      button {
        color: #333;
        height: 60px;
        width: 60px;
        background-color: #fff;
        border-radius: 40px;
        border: 2px solid #fff;
        outline: 0;

        &:active, &:focus {
          outline: 0;
        }
        &:disabled {
          opacity: .35;
        }
        &:hover {
          opacity: 1;
        }
      }


      &:nth-child(1) {
        left: 3%;
      }
      &:nth-child(2) {
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);

      }
      &:nth-child(3) {
        right: 3%;
      }

      &.loading {
        opacity: 1;
      }
    }
  }
  .info {
    min-height: 60px;
    color: @accent-light;
    position: relative;
    top: 24px;
    z-index: 4;

    .title-row {
      font-size: 32px;
      margin: 0;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
      padding: 0 10px;

      .trackNum {
        display: none;
        font-size: 12px;
        margin-right: 6px;
      }
      .title {
        font-weight: bold;
      }
    }

    .album-row {
      margin: 0;
      padding-top: 10px;

      .author {
        margin-right: 6px;
      }

      .album {
        margin-left: 6px;
      }
    }
  }
}

#okplayer-mask {
  background: #000;
  opacity: 0.4;

}




/* yt background plugin */
.background-video {
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

video,
source {
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
}

.loaded .ytplayer-container {
  display: block;
  position: fixed;
}

.loaded .placeholder-image {
  opacity: 0;
}

.ytplayer-container {
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -3;
}


.ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.ytplayer-player {
  position: absolute;
}

/* Select */
.cs-select.cs-skin-border {
  background: @grid-accent;
  opacity: 0.9;

  &:hover {
    background: #1e1e1e;
  }
}
.cs-options {
  color: #333 !important;
}
.cs-placeholder {
  color: @accent-light !important;
  background: transparent !important;
  > span:hover {
    background: transparent !important;
    cursor: default;
  }
}
.cs-skin-border > span {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.fullbleed-cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: blur(133px);
  -moz-filter: blur(133px);
  -o-filter: blur(133px);
  -ms-filter: blur(133px);
  filter: blur(133px);
  z-index: -1;
  opacity: .9;
  /* turn on 3d acceleration for better performance */
  transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);         /* Opera */
  -moz-transform: translate3d(0, 0, 0);       /* Firefox */
  -webkit-transform: translate3d(0, 0, 0);    /* Safari and Chrome */
}
.ie .fullbleed-cover {
  opacity: 0 !important;
}
