/********************/
/*  Upitup Palette  */
/********************/

/** Grid **/
@grid-bg: rgb(15, 15, 15);
@grid-accent: rgb(26, 26, 26);

/** Banner **/
@banner-bg: rgb(180, 173, 150);
@banner-text: rgb(222, 224, 201);

/** Rainbow **/
@rainbow-red: rgb(251, 110, 101);
@rainbow-orange: rgb(253, 144, 0);
@rainbow-yellow: rgb(255, 255, 131);
@rainbow-green: rgb(122, 227, 148);
@rainbow-cyan: rgb(54, 225, 255);

@off-white: rgb(234, 233, 231);
@grey: rgb(204, 204, 204);
@accent: #5c5c5c;
@accent-light: #c1c1c1;

/** Logo **/
@logo-square-size: 22px;
@logo-square-shadow: #585858;
@logo-square-bg-color: #f0f0f0;
@logo-square-color: #232323;
@logo-square-empty-bg-color: #d9d9d9;
